{% extends 'base.html' %} 
{% block page_title %}Need an extra pair of hands | Part time helpers, odd jobs{% endblock %} 
{% block content %}
<section class='mt-5 p-5'>
    You are going to confirm the service of {{data.name}}
    His daily rate is $ {{data.rate_per_day}}
    <form method="POST">
                {% csrf_token %}
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="{{ key }}"
                      data-description="Deposit for service"
                      data-amount="{{amount}}"
                      data-locale="auto"></script>
                <input type='hidden' name='amount' value='{{amount}}'/>
            </form>
</section>
{% endblock %} 