{% extends 'base.html' %} 
{% block page_title %}Need an extra pair of hands | Part time helpers, odd jobs{% endblock %} 
{% block content %} 
{% if messages %}
<div>
    {% for message in messages %} {{ message }} {% endfor %}
</div>
{% endif %}
<section class='container-fluid row p-5'>
    <div class="row">
        {%for d in data %}
        <div class="col-6">
            {{ d.name }}<br>
            {{ d.description }}<br>
            {{ d.contact }}<br>
            {{ d.rate_per_day }}<br>
            {{ d.skills}}<br>
            <a href="/hands/edit_profile/{{d.id}}">Edit</a>
            <a href="/hands/delete_profile/{{d.id}}">Delete</a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
</a>