{% extends 'base.html' %} 
{% block page_title %}Need an extra pair of hands | Part time helpers, odd jobs{% endblock %} 
{% block content %} 
{% if messages %}
<div>
    {% for message in messages %} {{ message }} {% endfor %}
</div>
{% endif %}
<section class='container-fluid row'>
    <div class="row">
        <div class="col-6"> PROFILE INFO </div>
        {%for d in data %}
            {{ d.name }}<br>
            {{ d.skills}}
            {{ d.id }}
            <a href="/hands/edit_profile/{{d.id}}">Edit</a>
        {% endfor %}
    </div>
</section>
{% endblock %}
</a>