{% extends 'base.html' %} {% block page_title %}Need an extra pair of hands | Part time helpers, odd jobs{% endblock %} {% block content %}

<section class='container-fluid row p-5'>
  <div class="col-12">
    <h3>Need someone here to help you with your task</h3>
  </div>
  
  {%for d in data %}
  <div class="col-md-4 col-sm-6 col-12 rounded mx-auto bg-danger">
    <div class="row bg-light border">
      <div class="preview-box col-md-8 p-3 mx-auto"><img src="/media/images/default_pic.png"></img></div>
      <div class="col-12 p-3 d-flex flex-column justify-content-between bg-white">
        <table>
          <tr>
            <th>Name</t>
              <td>:</td>
              <td>{{ d.name }}</td>
          </tr>
          <tr>
            <th>Strength</th>
            <td>:</td>
            <td>{{ d.description }}</td>
          </tr>
          <tr>
            <th>Contact</th>
            <td>:</td>
            <td>{{ d.contact }}</td>
          </tr>
          <tr>
            <th>Daily Rate</th>
            <td>:</td>
            <td>{{ d.rate_per_day }}</td>
          </tr>
          <tr>
            <th>Key Skills</th>
            <td>:</td>
            <td>{{ d.skills }}</td>
          </tr>
        </table>
        <a class='btn btn-success w-100' href="/booking/{{d.id}}">
          <i class="fas fa-hand-sparkles text-warning"></i>
          Book Me here!
          </a>
        
      </div>
    </div>
  </div>
  {% endfor %}
  
</section>
{% endblock %}
</a>
