{% extends 'base.html' %} {% block page_title %}Need an extra pair of hands | Part time helpers, odd jobs{% endblock %} {% block content %}

<section class='container-fluid row p-5'>
  <div class="col-12">
    <h3>Job Listing</h3>
  </div>
  
      <table class="table table-striped border`">
        <thead>
            <tr>
                <th scope="col" colspan='5' class='bg-dark text-white'><i>Current Job Listings (
                    
                    )</i></th>
            </tr>
            <tr>
                <th>Position</th>
                <th>Job Info</th>
                <th>Contact</th>
                <th>Daily Rate</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{d.position}}</td>
                <td>{{d.description}}</td>
                <td>{{d.contact}}</td>
                <td>${{d.rate_per_day}}</td>
                <td>
                    <a href="">Apply</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  
</section>
{% endblock %}
</a>
