{% extends 'base.html' %}
  
{% block page_title %}Need an extra pair of hands | Part time helpers, odd jobs{% endblock %}

{% block content %}
<section class='p-5'> 
    <h1>INDEX</h1>
      {% if request.user.username %}
        Logged In As:{{request.user.username}}
        {% endif %}
    
    <hr> {% if messages %}
    <div>
        {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %}
    
    <ul>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        <li>Profile</li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</section>
  

{% endblock %}