main {
    height : 100vh;
    min-height: 100vh;
    background-image: url('/media/images/hands.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.preview-box{
    height : 200px;
    width : 200px;
}
.preview-box img{
    height :100%;
    width : auto;
}
.portrait img{
    height:200px;
    width :auto;
}

.logo {
    color : orange;
}
.text-yellow {
    color : #f1f536;
}

